body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin-top: 0;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

.top {
  background-color: #fbe3b9;
  padding-top: 120px;
  position: relative;
}

.middle-container {


}

.bottom-container {


}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  top: 70px;
  right: 200px;
}

.bottom-cloud {
  position: absolute;
}

.james-pic {
  border-radius: 100%;
  
}

.comm-image {
  height: 200px;
  width: 200px;
}

.code-image {
  height: 200px;
  width: 200px;
}

.lakers-image {
  height: 160px;
  width: 160px;

}
